h1{
    text-align: center;
    font-weight:600;
    color: white;

}
input{
    width: 45%;
height: 29px;
font-size: 17px;
border-radius: 1px;
border: 1px solid #d9d9d9;
margin-bottom: 8px;
}

.div-center{
    display: flex;
    justify-content: center;
}
.res1 image{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
}

.flex-three{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
}
.div1{
    background-color: grey;
}